.shop-by-collection-full-page
{
    padding: 0px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.shop-by-collection-heading
{
    letter-spacing: 1.4px;
    font-size: 22px;
    font-weight: 600;
    word-spacing: 2px;
    
}
.shop-by-collection-cards-area
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    
}
.shop-by-collection-card
{
    display: flex;
    cursor: pointer;
    width: 288px;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}
.shop-by-collection-card img
{
    width: 100%;
    height: 100%;
}
.shop-by-collection-card-title
{
    font-size: 14px;
    font-weight: 700;
}
.shop-by-collection-card-quantity
{
    font-size: 14px;
    font-weight: 400;
}


@media screen and (min-device-width:200px) and (max-device-width:700px) 
{
    .shop-by-collection-full-page
{
    display: flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: center;
}
.shop-by-collection-card
{
    width: 48%;
}

}