.footer-main-page
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-black-part
{
    padding: 0px 35px;
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 215px;
}
.footer-black-part1
{
    display: flex;
    gap: 1px;
    flex-direction: column;
    width: 54%;
    color: white;
    padding: 0px 24px;
    align-items: start;

}
.footer-black-part1-heading
{
    letter-spacing: 1.5px;
    font-size: 22px;
    font-weight: 600;
}
.footer-black-part1-text
{
    font-size: 15px;
    letter-spacing: 0.2px;
    
}
.footer-black-part2
{
    padding: 0px 20px 10px 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 15px;
}
.footer-black-part2 input
{
    padding: 0px 15px;
    width: 500px;
    border: 0;
    color: white;
    background-color: transparent;
    
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
.logo-area
{
    padding: 10px 12px;
    display: flex;
    gap: 24px;
}
.footer-white-part
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 50px;
    height: 250px;
}
.footer-white-part1
{
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 30%;

}

.footer-white-part2

{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 30%;
    
}.footer-white-part3
{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 32%;
}
.footer-decription-area
{
    display: flex;
    font-size: 16px;
    color: rgb(65, 64, 64);
    flex-direction: column;
    gap: 2px;
}
.footer-heading
{
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 700;
}

.footer-black-part-join
{
    font-size: 16px;
    letter-spacing: 1px;
    /* font-family: Neuzeit Office; */
    float: inline-end;
    padding: 0px 25px 0px 0px;
    color: white;
}
.email-join-part
{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}
.email-join-part input
{
    width: 50%;
}
.footer-bottom-part
{
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-between;
    padding: 15px 55px;
}
.footer-bottom-left
{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 50%;
}
.bottom-logo-area
{
    display: flex;
    gap: 20px;
}
.footer-bottom-left-text
{
    font-size: 14px;
    letter-spacing: 0.6px;
}

.footer-bottom-right
{
    padding: 0px 40px 0px 0px;
    width: 50%;
    align-items: end;
    display: flex;
    gap: 28px;
    flex-direction: column;
}

.footer-my-language-select
{
    width: 128px;
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    padding: 20px 0px;
}

.ReactFlagsSelect-module_selectValue__152eS 
{
    color: rgb(164, 164, 164);
    width: 100px;
}
.ReactFlagsSelect-module_selectOptionValue__vS99-
{
    color: black;
}
#rfs-btn
{
    border: 0;
}
.footer-bottom-right-payment
{
    width: 45%;
    height: 100%;
    display: flex;
    gap: 8px;
}
